[Unit]
Description=Plugfolio App Docker Service
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "cd /home/ubuntu/plugfolio-app && /usr/local/bin/docker-compose -f docker-compose.yml up -d || docker run -d --name plugfolio-app-container -p 80:80 \$DOCKER_IMAGE"
ExecStop=/bin/bash -c "cd /home/ubuntu/plugfolio-app && /usr/local/bin/docker-compose -f docker-compose.yml down || docker stop plugfolio-app-container && docker rm plugfolio-app-container"
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target